<p></p>
<body>
    <header id="masthead" class="site-header" role="banner" style="height: 100% ; width: 100%; text-align:center;"> WELCOME TO DIABY</header>

<div class="conteneur1" >
    
    <div style="   width: 3840px;
    height: 720px;
    background-color: #EDEDED;
    background-image: url('assets/arriere.jpg');
    background-size: contain;
    animation: defilement1 12s linear infinite"></div>
    
</div>

 
      </body>

<div class="container">
    <div class="panel panel-primary">
        <div class=" panel-primary">
            <div class=" panel-heading"></div> 
            <div class=" panel-body">
              
                    
                        
                       
                        
                        </div>
        </div>
    </div>
</div>
