<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>
        <br>
        <br>
    </p>
<h3>Qui Sommes Nous</h3>
<p>
        
        Lorsque Diaby Parfum a décidé de proposer sur son site de vente du parfum pas cher, pour la France les DOM TOM et l’Europe, il savait parfaitement que le challenge était de taille !
    </p>
        Notre métier est avant tout de :
        <ul>
       <li>  Dénicher les meilleur prix auprès des fabricants de parfums (pas évident)</li>
       <li>  Proposer le plus grand choix possible de grandes marques de parfums</li>
       <li>   Trouver de vieux parfums introuvables chez votre parfumeur habituel</li>
        <li> S’assurer de l’authenticité de tous les produits que nous vous proposons en ligne</li>
        </ul>
        <p>
       Et avec tout cela, garantir le meilleur prix pour chaque parfum !
        Aujourd’hui Diaby Parfum c’est plus de 16 000 articles présentés sur notre site, avec près de 147 marques de parfums et le tout à prix d’usine pour vous!
        Notre équipe œuvre afin de développer un véritable réseau de fournisseurs pour obtenir les meilleurs tarifs sur les parfums des plus grandes marques : Boss, Dove, la vie est belle, Jean-Paul Gaultier ou encore Paco Rabanne.
       Vous recherchez un parfum femme pas cher ou une eau de toilette ? Ou un parfum homme pas cher en particulier ? Un parfum rare qui a disparu? N’hésitez pas à prendre contact avec nous!
        </p>

        <div>
                <h3>propriétaire:</h3>
                <div>
                    <ul class ="list-group">
                        <li >Nom: <strong>{{infos.nom}}</strong></li>
                        <li >prenom: <strong> {{infos.prenom}}</strong></li>
                        <li >tel: <strong>{{infos.tel}}</strong></li>
                        <li >email: <strong> {{infos.email}}</strong></li>
                    </ul>
                </div>
        </div>

        <div>
         <div style="position:absolute; height: 200px; justify-content: space-between;">   contactez nous : 06.24.55.89.21  </div>
        </div>
</body>
</html>
<p>
    <br>
</p>
